<div class="row">
    <div class="container">
        <div class="form-group">
            <input type="text" class="form-control pull-right" id="search" placeholder="Поиск по таблице">
        </div>
        <br>
        <table class="table table-striped" id="mytable" cellspacing="0" style="width: 100%;">
            <thead>
                <tr role="row">
                    <th>ФИО</th>
                    <th>ИНН</th>
                    <th>РНН</th>
                    <th>Сумма займа</th>
                    <th>процентная ставка</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{person1.fio}}</td>
                    <td>{{person1.inn}}</td>
                    <td>{{person1.rnn}}</td>
                    <td>{{person1.summ}}</td>
                    <td>{{person1.percent}}</td>
                </tr>
                <tr>
                    <td>{{person2.fio}}</td>
                    <td>{{person2.inn}}</td>
                    <td>{{person2.rnn}}</td>
                    <td>{{person2.summ}}</td>
                    <td>{{person2.percent}}</td>
                </tr>
                <tr>
                    <td>{{person3.fio}}</td>
                    <td>{{person3.inn}}</td>
                    <td>{{person3.rnn}}</td>
                    <td>{{person3.summ}}</td>
                    <td>{{person3.percent}}</td>
                </tr>
                <tr>
                    <td>{{person4.fio}}</td>
                    <td>{{person4.inn}}</td>
                    <td>{{person4.rnn}}</td>
                    <td>{{person4.summ}}</td>
                    <td>{{person4.percent}}</td>
                </tr>
                <tr>
                    <td>{{person5.fio}}</td>
                    <td>{{person5.inn}}</td>
                    <td>{{person5.rnn}}</td>
                    <td>{{person5.summ}}</td>
                    <td>{{person5.percent}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
